/* Provide sufficient contrast against white background */

$primary: #78002B;
$on-primary: white;
$accent: white;
$link: $primary;
$border-hover: $primary;
$border-light-hover: lighten($primary, 10%);
$body-color: #eee;
$background: #000;
$background-dimmed: lighten($background, 10%);

// card
$card-color: $background-dimmed;

// buttons
$button-text-color: $body-color;
$button-text-hover-color: darken($body-color, 9%);
$button-text-hover-background-color: rgba($primary, 0.3);

@import "~bulma";

.button:hover {
  transform: scale(1.05);
}

.app-title {
  font-family: 'Alfa Slab One', cursive;
  user-select: none;
  font-size: 3rem;
}

code {
  color: #E01A76;
}

html {
  overflow-y: hidden;
  background-color: $background;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track-piece{
  background-color: black;
}

::-webkit-scrollbar-thumb{
  background-color: white;
}

::-webkit-scrollbar-thumb:hover{
  background-color: $primary;
}

